*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
.gallery {
  margin: 2em;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border: 1px solid rgb(216, 24, 24);
  padding: 1em;
}
